
<!DOCTYPE html>
<html>
<head>
  <title> Tahir Careers  </title>
  <style>
  h1 {
  font-size : normal;
  font-family: Roboto;
  color:rgb(100,100,100);
    text-align: center; 
  }
    #banner {
      width : 100%;
      height : 360px;
      object-fit: cover;
    }
  </style>
  
</head>
<body>
  <h1>Careers with Us! </h1> 
  <img id="banner" src = "https://tahir-career-website-.tahir-munirmuni.repl.co/static/banner.jpg"  >
  <h2> About Careers </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac nibh ultrices, sodales justo in, mollis lorem. Praesent tincidunt non nunc nec interdum. Duis nec vehicula lorem. Quisque in bibendum velit. Quisque eget ornare lectus. Donec et nulla vitae justo dictum bibendum at in erat. Pellentesque consequat turpis sed urna interdum placerat in eu eros. Maecenas tempus justo et quam egestas, non dignissim arcu sodales. Nullam rutrum placerat mauris, sollicitudin condimentum enim. Proin sit amet ultricies est, eget tempor erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer nec sollicitudin libero. In hac habitasse platea dictumst. Etiam tristique neque non ante aliquam, nec gravida diam tempus. Sed sit amet nulla accumsan magna sollicitudin iaculis.


  </p>
  <h2> Jobs Oppenings </h2>
  <h2> Jobs show Here </h2>
  <button> Contact Us  </button>
</body>
  
</html>